{% extends 'base.html' %}

{% block content %}

    <div class="container pt-5">
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <h1>Loan eligibility</h1>
                <form action="" id="post-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="married">Married</label>
                        <select class="form-control" id="married">
                            <option disabled selected value> -- select an option -- </option>
                            <option>True</option>
                            <option>False</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="dependents">Dependents</label>
                        <input type="number" step="1" class="form-control" id="dependents" min=0 placeholder=" -- provide a value -- " required>
                    </div>

                    <div class="form-group">
                        <label for="education">Education</label>
                        <select class="form-control" id="education">
                            <option disabled selected value> -- select an option -- </option>
                            <option>Graduate</option>
                            <option>Not Graduate</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="self_employed">Self Employed</label>
                        <select class="form-control" id="self_employed">
                            <option disabled selected value> -- select an option -- </option>
                            <option>True</option>
                            <option>False</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="applicant_income">Applicant Income</label>
                        <input type="number" step="1" class="form-control" id="applicant_income" min=0 placeholder=" -- provide an income -- " required>
                    </div>

                    <div class="form-group">
                        <label for="co-applicant_income">Co-applicant Income</label>
                        <input type="number" step="1" class="form-control" id="co-applicant_income" min=0 placeholder=" -- provide an income -- " required>
                    </div>

                    <div class="form-group">
                        <label for="loan_amount">Loan Amount</label>
                        <input type="number" step="1" class="form-control" id="loan_amount" min=0 placeholder=" -- provide a loan value -- " required>
                    </div>

                    <div class="form-group">
                        <label for="loan_amount_term">Loan Amount Term</label>
                        <input type="number" step="1" class="form-control" id="loan_amount_term" min=0 placeholder=" -- provide number of months -- " required>
                    </div>

                    <button type="submit" value="Submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Submit</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
