{% extends "base.html" %}

{% block title %}Zaloguj się{% endblock %}

{% block content %}
  <h1>Zaloguj się</h1>
    {% if form.errors %}
    <p>
     Login or password incorrect.
    Try again or <a href="{% url "accounts:register" %}">registrate here!</a>
    </p>
  {% else %}

  {% endif %}
  <p>Login form:</p>
  <form method="post">
    {{ form.as_p }}
    {% csrf_token %}
      <p><input type="submit" value= "Login"></p>

      {% load socialaccount %}
      <a href="{% provider_login_url 'google' %}"> Login with Google</a>

  </form>
{% endblock %}