<div class="container" style="height: 900px">
    <div class="row" style="height: 100%">
        <div class="col col-lg-5 my-auto">
            <p id="signing-header" class="in-left">All starts here</p>
            <p id="home-text" class="fade-in">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>

        <div class="col col-7 my-auto d-none d-lg-flex in-right">
            {% load static %}
            <img src="{% static "images/home.png" %}" alt="home">
        </div>

    </div>
</div>