<nav id="main-nav" class="nav navbar navbar-expand-lg navbar-light sticky-top">
    <div class="container" style="height: 100%">
        <a class="navbar-brand m-1 hack15-menu-button" href={% url 'credit_app:home' %}#main_div>CreditApp</a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-btn left-btn m-1 hack15-menu-button"
                           href={% url 'credit_app:home' %}#predict-section>Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-btn left-btn m-1 hack15-menu-button"
                           href={% url 'credit_app:testimonials' %}#testimonials-section>Testimonials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-btn left-btn m-1 hack15-menu-button"
                           href={% url 'credit_app:contact' %}#contact-section>Contact</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        {% if request.user.is_authenticated %}
                            <a class="nav-btn m-1" href={% url "account:edit" %}>Edit Profile</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if request.user.is_authenticated %}
                            <a class="nav-btn m-1" href={% url "predict:requests" %}>Your requests</a>
                        {% endif %}
                    </li>
                    <li class="nav-item text-white">
                        {% if request.user.is_authenticated %}
                            <a class="signin-btn m-1" href={% url "account:logout" %}>Logout</a>
                        {% else %}
                            <a class="signin-btn mr-1 m-1" href={% url "account:login" %}>Sign in</a>
                        {% endif %}
                    </li>
                    <li class="nav-item text-white">
                        {% if request.user.is_anonymous %}
                            <a class="signup-btn m-1" href={% url "account:register" %}>Sign up</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>