{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div id="main_div">
        {% include 'navbar.html' %}
    </div>

    <div id="main_div" class="main">
        <div class="container-fluid ">
            <div class="row h-100">
                <div id="register-div" class="col-lg-5 my-auto">
                    <div id="form-div">
                        <h1>Profile edit</h1>
                        <p>Edit your account:</p>
                        <form method="POST" class="form-group">
                            {% csrf_token %}
                            {{ user_form|crispy }}
                            <button type="submit" class="btn btn-outline-info">Save changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}