{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}


    <div class="container-">
        <div class="row">
            <div id="register-div" class="col pt-5">
                <a href={% url "predict:submit_prediction" %}>< Back</a>
                <p id="signing-header">Sign In</p>
                <p>Don't have an account? <a href="{% url "account:register" %}">Sign up</a></p>
                <form method="POST" class="form-group">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success block">Sign ip</button>
                </form>
            </div>

            <div id="register-img-div" class="col pt-5">
                {% load static %}
                <img src="{% static "images/login.png" %}" alt="login">
            </div>
        <div>
    </div>

{% endblock %}